aiohttp==3.8.3
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
base58==2.1.1
bitarray==2.6.1
certifi==2022.12.7
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
cytoolz==0.12.1
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
Flask==2.2.2
Flask-Cors==3.0.10
frozenlist==1.3.3
hexbytes==0.3.0
idna==3.4
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.17.3
lru-dict==1.1.8
MarkupSafe==2.1.1
multiaddr==0.0.9
multidict==6.0.4
netaddr==0.8.0
parsimonious==0.8.1
protobuf==3.19.5
pycryptodome==3.16.0
PyMySQL==1.0.2
pyrsistent==0.19.3
pywin32==305
requests==2.28.1
rlp==2.0.1
six==1.16.0
toolz==0.12.0
urllib3==1.26.13
varint==1.0.2
web3==5.31.3
websockets==9.1
Werkzeug==2.2.2
yarl==1.8.2
aiohttp==3.8.1
aiosignal==1.2.0
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
base58==2.1.1
bitarray==2.6.0
certifi==2022.6.15
cffi==1.15.1
charset-normalizer==2.1.0
click==8.1.3
colorama==0.4.5
commonmark==0.9.1
contourpy==1.0.5
cryptography==37.0.4
cycler==0.11.0
cytoolz==0.12.0
Deprecated==1.2.13
distlib==0.3.6
Django==4.1.1
ElasticEmail @ git+https://github.com/elasticemail/elasticemail-python.git@c6c5016849b2527716a24b591874bb5052cb937a
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
filelock==3.8.0
Flask==2.2.2
Flask-Limiter==2.6.0
fonttools==4.37.3
frozenlist==1.3.1
hexbytes==0.3.0
idna==3.3
importlib-metadata==4.12.0
importlib-resources==5.9.0
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.10.2
kiwisolver==1.4.4
limits==2.7.0
lru-dict==1.1.8
MarkupSafe==2.1.1
matplotlib==3.6.0
multiaddr==0.0.9
multidict==6.0.2
mysql-connector-python==8.0.30
netaddr==0.8.0
numpy==1.23.3
packaging==21.3
pandas==1.5.0
parsimonious==0.8.1
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
protobuf==3.20.1
pycparser==2.21
pycryptodome==3.15.0
Pygments==2.13.0
PyMySQL==1.0.2
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.2.1
pywin32==304
requests==2.28.1
rich==12.5.1
rlp==2.0.1
scapy==2.4.5
scikit-learn==1.1.2
scipy==1.9.1
six==1.16.0
sqlparse==0.4.3
threadpoolctl==3.1.0
toolz==0.12.0
typing_extensions==4.3.0
tzdata==2022.4
urllib3==1.26.11
varint==1.0.2
virtualenv==20.16.5
web3==5.30.0
websockets==9.1
Werkzeug==2.2.2
wrapt==1.14.1
yarl==1.8.1
zipp==3.8.1
